In [1]:
import pandas as pd
import numpy as np
import re
import string
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
df1=pd.read_csv("True Clean.csv")
df2=pd.read_csv("Fake Clean.csv")

In [3]:
df1.head(10)

,title,text,Label,Unnamed: 3
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,Real,NaN
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,Real,NaN
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,Real,NaN
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,Real,NaN
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,Real,NaN
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",Real,NaN
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",Real,NaN
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,Real,NaN
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,Real,NaN
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,Real,NaN

In [4]:
df2.head(10)

,title,text,label,Unnamed: 3
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,fake,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,fake,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",fake,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",fake,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,fake,NaN
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,fake,NaN
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,fake,NaN
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,fake,NaN
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,fake,NaN
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,fake,NaN

In [5]:
##getting reuired columns
Real_Newdata1=df1[["text"]]
Fake_Newdata1=df2[["text"]]

In [6]:
Real_Newdata1.head(3)

                                                text
0  WASHINGTON (Reuters) - The head of a conservat...
1  WASHINGTON (Reuters) - Transgender people will...
2  WASHINGTON (Reuters) - The special counsel inv...

In [7]:
Fake_Newdata1.head(3)

                                                text
0  Donald Trump just couldn t wish all Americans ...
1  House Intelligence Committee Chairman Devin Nu...
2  On Friday, it was revealed that former Milwauk...

In [8]:
##adding classification column
Real_Newdata1["class"]=1
Fake_Newdata1["class"]=0

C:\Users\Masini\AppData\Local\Temp\ipykernel_13084\172848417.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Real_Newdata1["class"]=1
C:\Users\Masini\AppData\Local\Temp\ipykernel_13084\172848417.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Fake_Newdata1["class"]=0

In [9]:
Real_Newdata1.head(3)

                                                text  class
0  WASHINGTON (Reuters) - The head of a conservat...      1
1  WASHINGTON (Reuters) - Transgender people will...      1
2  WASHINGTON (Reuters) - The special counsel inv...      1

In [10]:
##merge real and fake datasets
df=pd.concat([Real_Newdata1,Fake_Newdata1],axis=0)

In [11]:
df.head(10)

                                                text  class
0  WASHINGTON (Reuters) - The head of a conservat...      1
1  WASHINGTON (Reuters) - Transgender people will...      1
2  WASHINGTON (Reuters) - The special counsel inv...      1
3  WASHINGTON (Reuters) - Trump campaign adviser ...      1
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      1
5  WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...      1
6  WEST PALM BEACH, Fla (Reuters) - President Don...      1
7  The following statements were posted to the ve...      1
8  The following statements were posted to the ve...      1
9  WASHINGTON (Reuters) - Alabama Secretary of St...      1

In [12]:
df.tail(10)

                                                    text  class
23449  21st Century Wire says This week, the historic...      0
23450   By Dady Chery and Gilbert MercierAll writers ...      0
23451  Vic Bishop Waking TimesOur reality is carefull...      0
23452  Paul Craig RobertsIn the last years of the 20t...      0
23453  Robert Fantina CounterpunchAlthough the United...      0
23454  21st Century Wire says As 21WIRE reported earl...      0
23455  21st Century Wire says It s a familiar theme. ...      0
23456  Patrick Henningsen  21st Century WireRemember ...      0
23457  21st Century Wire says Al Jazeera America will...      0
23458  21st Century Wire says As 21WIRE predicted in ...      0

In [13]:
##reshuffle the dataset
df=df.sample(frac=1)

In [14]:
df.head(10)

                                                    text  class
21127  So in an effort to reach out to Muslims living...      0
23119   William McGurn Wall Street JournalLet s get t...      0
8200   WASHINGTON (Reuters) - Leaders in the U.S. Con...      1
13675  HARARE (Reuters) - Zimbabwe s new president, E...      1
8423   NEW YORK (Reuters) - Democratic presidential c...      1
6303   President Obama is currently in his final year...      0
14939  We ll wait for Nancy Pelosi to call this movem...      0
16590  Senator Tom Cotton is such a great representat...      0
2729   WASHINGTON (Reuters) - Eight to 10 Republican ...      1
21254  AMMAN (Reuters) - Jordan will open its main bo...      1

In [15]:
import nltk
from nltk.tokenize import word_tokenize ##for getting tokens out of words
from nltk.stem import WordNetLemmatizer  ##for converting the words to their root form
nltk.download('punkt')
nltk.download('wordnet')


def preprocess(text):
    ##replacing whitespace characters with a single space
   ## text=re.sub("\s"," ",text)
    ##perfoming lemmatization
    
    # Initialize the WordNetLemmatizer
    lemmatizer = WordNetLemmatizer()
    # Tokenize the text into words
    tokens = word_tokenize(text)
    # Lemmatize each word in the text
    lemmatized_text = [lemmatizer.lemmatize(word) for word in tokens]
    # Join the lemmatized words back into a single string
    lemmatized_text = ' '.join(lemmatized_text)
    return lemmatized_text

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Masini\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Masini\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [17]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer

# Split the data into features text and labels
X = df['text']
y = df['class']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

# Define the pipeline
pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),  # Text vectorization(perfoms text cleaning)
    ('clf', RandomForestClassifier())  # Random Forest classifier
])

# Fit the pipeline to the training data
pipeline.fit(X_train, y_train)

# Predict labels for the testing data
y_pred = pipeline.predict(X_test)

In [18]:
##evaluatng the model
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9888591800356507

In [20]:
print(confusion_matrix(y_test,y_pred))

[[3450   32]
 [  43 3207]]

In [29]:
text = """WASHINGTON (Reuters) - Transgender people will be allowed for the first time 
to enlist in the U.S. military starting on Monday..."""

prediction = pipeline.predict([text])
print(prediction)

[1]

In [32]:
text=""""A new animatronic Trump figure was added to Disney's Hall of Presidents, sparking online jokes about its unsettling appearance."""

prediction=pipeline.predict([text])
print(prediction)

[0]